@import "modules/reset";

.container {
  width: 1000px;
  margin: 0 auto;
  font-size: 20px;
  font-family: sans-serif;
  .s-top {
    padding: 20px 0;
    .b-img-select{
      margin-bottom: 20px;
      &__label {
        margin-right: 10px;
      }
      &__btn {
        font-size: 20px;
      }
    }
  }
  .s-panel {
    padding: 20px 0;
    &__text {
      margin-bottom: 10px;
    }
    &__select {
      font-size: 20px;
    }
    &__btn {
      font-size: 20px;
    }
  }
}

