@import "modules/reset";

.container {
  width: 1000px;
  margin: 0 auto;
  font-size: 20px;
  font-family: sans-serif;
  .s-top {
    padding: 20px 0;
    .b-img-select{
      margin-bottom: 20px;
      &__label {
        margin-right: 10px;
      }
      &__btn {
        font-size: 20px;
      }
    }
  }
  .s-panel {
    padding: 20px 0;
    margin-bottom: 50px;
    &__text {
      margin-bottom: 10px;
    }
    &__select {
      font-size: 20px;
    }
    &__btn {
      font-size: 20px;
    }
  }
}

.b-img-wrapper{
  img{
    max-width: 500px;
    max-height: 400px;
    height: auto;
  }
}

.s-middle__canvas{
  canvas{
    max-width: 500px;
    max-height: 400px;
    height: auto;
  }
}
